/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f3f3f3;
}

/* centralizar container (conteudo - main) */
.container {
	max-width: 800px; /* limita a largura*/
	margin: 50px auto; /* isso centraliza */
	padding: 20px;
}

/* flexbox para posicionar */
.changelog-list {
	list-style: none; /* tira as bolinhas da lista */
	position: relative;
}

.changelog-item {
	display: flex; /* coloca tudo em linha horizontal */
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
}

/* criar linha vertical (before cria elemento invisivel) */
.changelog-list::before {
	content: "";
	position: absolute; /* permite posicionar com top e left */
	left: 150px;
	top: 0;
	width: 2px;
	height: 100%; /* pega toda a linha */
	background-color: black;
}

/* criar bolinhas */
.dot {
	width: 12px;
	height: 12px;
	background-color: black;
	border-radius: 50%;
}

.changelog-item time {
	width: 125px;
	color: #767676;
}

.changelog-item p { font-weight: bold; }

.changelog-button {
	padding: 10px 20px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

 /* header */
header {
	margin: 30px 0;
	text-align: center;
}

header h1, header p {
	padding: 10px 0;
}

header p { color: #767676;}